<div class="ui grey fixed inverted menu" id="menu">
    <a class="item {{#if active.home}}active{{/if}}" href="/">Home</a>
    <a class="item {{#if active.education}}active{{/if}}" href="/education">Learn</a>
    <a class="item {{#if active.purchase}}active{{/if}}" href="/purchase">Purchase</a>
    <a class="item {{#if active.exchange}}active{{/if}}" href="/exchange">Exchange</a>
    <div class="right menu">
        <a class="item" id="contact">Contact</a>
    </div>
    </div>
</div>
<div class="ui segment">
    <p></p>
</div>

<script src="/js/nav-bar.js"></script>
