<div id="learn" class="ui divided items">
  <div class="ui two column stackable grid container">
    <div class="column">
      <div class="ui big image">
        <img src="/img/snake2.jpg">
        <div class="imgEducation">Photo by Ehsan Ahmadnejad on Pexels</div> 
      </div>
    </div>
    <div class="column">
      <div class="ui items">
        <div class="item">
          <div class="content">
            <div class="header">Snake Plant</div>
            <div class="meta">
              <span>Sansevieria trifasciata</span>
            </div>
            <div class="description">
              <p>The Snake Plant,  Sansevieria trifasciata, is also known as Mother-in-Law’s Tongue, Viper's Bowstring Hemp, and St. George's Sword. It is an easy to care for houseplant that is thought to purify the air. </p>
              <p>The Snake Plant tolerates low light conditions but thrives in bright light.  Most snake plant varieties have upright, sword-like leaves that may be banded or edged in yellow, silver, or gold. The leaves grow vertically from a basal rosette. There are several different varieties with different colored and shaped leaves. Plant height can range from 6 to 48 inches depending on the variety.</p>
              <div class="header">Water Requirements</div>
              <p>Drought-tolerant; Water every 2-3 weeks, allowing soil to dry out between watering. During winter, reduce watering to monthly, or whenever the soil is dry to the touch.</p>
              <div class="header">Sun Exposure</div>
              <p>Light, Moderate, or Bright light</p>
              <div class="header">Soil</div>
              <p>Use a loose, well-drained potting mix such as an all-purpose cactus potting soil.</p>
              <div class="header">Fertilizer</div>
              <p>Fertilize with half-strength fertilizer a few times during the growing season (spring to summer).</p>
              <div class="header">Propagation</div>
              <p>Propagate by dividing rhizomes or from leaf cuttings. Roots produce rhizomes which can be removed with a knife and placed in a pot. Leaf cuttings can easily rot, so avoid overwatering and use a free draining soil.</p>
            </div>
            <div class="extra">
              <div class="header">Plant Bio</div>
              <p>Native to southern and central Africa, the Sansevieria trifasciata 'Laurentii' is a cultivar of snake plant with yellow variegated edges. Snake plants are tropical plants that are also succulents. Often positioned as low light plants, they are actually medium to bright light plants that tolerate, but not thrive in low light. Like other succulent plants, they have a modified form of photosynthesis, where in order to preserve water, the plant opens its pores exclusively at night. However, since photosynthesis only happens with daylight, the plant stores carbon dioxide acquired at night for use during the day, and releases oxygen (one of the end products of photosynthesis) at night when the pores open. This helps it to maximize efficiency in cleaning the air, as found in study conducted by NASA. <a href="https://www.thesill.com/products/snake-plant-laurentii?variant=32566716858473">(Source)</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="learnmoreouter" class="item">
    <div class="header">
      <h3>Learn More</h3> 
    </div>
    <div class="content">
    <div id="learnmore" class="ui large divided horizontal list">
      <div class="item">
        <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
        <div class="content">
          <div class="header">Overview</div>
          <a target="_blank" href="https://www.thespruce.com/snake-plant-care-overview-1902772"> The Spruce
            <i class="external alternate icon"></i>
          </a>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
        <div class="content">
          <div class="header">Repotting</div>
          <a target="_blank" href="https://www.joyusgarden.com/repotting-snake-plants/"> Joy Us Garden
            <i class="external alternate icon"></i>
          </a>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
        <div class="content">
          <div class="header">Propagation</div>
          <a target="_blank" href="https://www.epicgardening.com/snake-plant-propagation/">Epic Gardening
            <i class="external alternate icon"></i>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>