<div id="learn" class="ui divided items">
	 <div class="item">
      <div class = "ui large image">
        <img src="/img/snake2.jpg">
        <div class="imgEducation">Photo by Ehsan Ahmadnejad on Pexels</div>
      </div>
	    <div class="content">
	      <a class="header">Snake Plant</a>
	      <div class="meta">
	        <span>Sansevieria trifasciata</span>
	      </div>
	      <div class="description">
	        <p>Lorem ipsum dolor sit amet, at quis menandri dignissim pri. Dicunt mollis cotidieque in vix. Vel regione accumsan et. Et tempor nominavi ius. Te vel cibo veniam, eam ei accusata intellegam.</p>
          <p>Usu ad justo persius, no cibo epicuri gloriatur cum. Eius docendi repudiandae cum ei, velit cotidieque vix ea. Velit iriure vivendo vix cu, oratio utinam necessitatibus in vix, cum et doming essent oblique. Duo gubergren incorrupte interpretaris ea, ea vero prima facer vel. No quidam scriptorem eam, ne nemore conclusionemque vel. Has augue tollit forensibus an, te dico labitur dolorem vel, melius dolores adipisci in vix.</p>
          <p>Ne nostrum nominavi eum, ridens expetenda qualisque ex eum, qui et elit dictas torquatos. Nam mazim epicurei te, sed an malorum meliore constituto, no his vocent option iisque. Ei utroque atomorum definitiones has, ex augue dicunt sadipscing est, voluptua expetendis ei his. Per et accumsan rationibus. Vix wisi repudiare eloquentiam in, at officiis facilisis molestiae eos.</p>
          <p>Nostro tamquam constituto quo eu, te eos errem simul. Ferri nostrum recteque pri in. Mei unum molestie at. Has dicat simul ea. An iudico maiorum intellegam nec.</p>      
        </div>
	      <div class="extra">
          Aeterno petentium et cum, eum mazim soleat saperet an. At mea atqui iriure. Probo nulla mediocrem te pro, in vix scripta incorrupte dissentiunt. Eum no sanctus delenit volutpat. An virtute percipitur vix, in nam minimum verterem.
	      </div>
        <div>
          <a class="ui small grey button" href="snakeCareGuide.pdf" download>
            Download Care Guide</a>
        </div>
        <div class="ui divider"></div>
	    </div>
	  </div>


    <div class="item">
      <div class="header">
        <h3>Learn More</h3> 
      </div>
      <div class="content">
      <div id="learnmore" class="ui large divided horizontal list">
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
          <div class="content">
            <div class="header">Overview</div>
            <a target="_blank" href="https://www.thespruce.com/snake-plant-care-overview-1902772"> The Spruce
              <i class="external alternate icon"></i>
            </a>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
          <div class="content">
            <div class="header">Repotting</div>
            <a target="_blank" href="https://www.joyusgarden.com/repotting-snake-plants/"> Joy Us Garden
              <i class="external alternate icon"></i>
            </a>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1507561152-ed3719ac59f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
          <div class="content">
            <div class="header">Propagation</div>
            <a target="_blank" href="https://www.epicgardening.com/snake-plant-propagation/">Epic Gardening
              <i class="external alternate icon"></i>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>