<div class="carousel">
  <div class="slides fadeIn">
      <div class="slideText left">1 / 4</div>
      <div class="slideText right">Photo by Yousef Espanioly on Unsplash</div>
      <img class="image" src="/img/succulents4.jpg">
  </div>
  <div class="slides">
      <div class="slideText left">2 / 4</div>
      <div class="slideText right">Photo by Carl Newton on Unsplash</div>
      <img class="image" src="/img/succulents2.jpg">
  </div>
  <div class="slides">
      <div class="slideText left">3 / 4</div>
      <div class="slideText right">Photo by Erol Ahmed on Unsplash</div>
      <img class="image" src="/img/succulents5.jpg">
  </div>
  <div class="slides">
      <div class="slideText left">4 / 4</div>
      <div class="slideText right">Photo by Yousef Espanioly on Unsplash</div>
      <img class="image" src="/img/succulents6.jpg">
  </div>

  <div class="prev"><i class="inverted huge angle left icon" id="prev"></i></div>
  <div class="pause"><i class="inverted large pause icon" id="pause"></i></div>
  <div class="next"><i class="inverted huge angle right icon" id="next"></i></div>

</div>


<div class="dots">
  <div class="dot selected"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

<div class="homeText container">
  <div id="homeLeft">
    <div id="homeTitle">
      <h3>House Plants - Buy and Exchange</h3>
      <p>Welcome to the house plant buy and exchange website.</p>
      <p>This website is dedicated to house plants. The site highlights a plant of the week and gives in depth information on the plant’s history and care. </p>
      <p>The House Plant and Exchange website serves as a hub for plant hobbyists to buy and exchange plants.</p>
      <p>Thanks for visiting!</p>
    </div>

    <div id="mainInfo">
      <div class="ui list">
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1540927550647-43699cb14916?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
          <div class="content">
            <a class="header" href="/education">Learn about the plant of the week:</a>
            <div class="description"><b>Snake Plant</b> Sansevieria trifasciata</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1540927550647-43699cb14916?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
          <div class="content">
            <a class="header" href="/purchase">View plants:</a>
            <div class="description">Browse all available plants.</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="https://images.unsplash.com/photo-1540927550647-43699cb14916?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
           <div class="content">
            <a class="header" href="/exchange">Request a plant exchange.</a>
            <div class="description">Fill out form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="homeRight">
    <div id="about">
        <h5>About</h5>
        <p>Similar to many house plant hobbyists, I started out with one plant which quickly grew into a house full of plants.</p>
        <p>I enjoy learning about plants, their care, and how to propagate them. The first plant I attempted to propagate was an African Violet, I ended up with 15 baby African Violet plants which grew from 3 leaves.</p>
        <p>The idea behind this site is to allow plant owners to offer up their plants for exchange or to sell.</p>
        <p>Please navigate to the <a href="/purchase">Purchase</a> page to view all of the available plants. Each seller will indicate whether the plant is available for purchase and/or exchange. If you would like to purchase or offer an exchange, navigate to the <a href="/exchange">Exchange</a> page where you can fill out a form with your information.</p>

    </div>
  </div>
</div>


<script src="/js/home.js"></script>
